.background {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: auto 100%;
  z-index: -1;
  position: fixed;
  opacity: 0.5;
}
.btn {
  display: block;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.button-in-table-default {
  display: inline-block;
  height: 34px;
  width: auto;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  line-height: 33px;
  box-sizing: border-box;
  padding: 0 10px;
  color: black;
}
.button-in-table-default:hover {
  cursor: pointer;
}
.button-in-table-default--no-active {
  background-color: #c4c4c4;
}
.button-in-table-default--no-active:hover {
  cursor: default;
}
.button-in-table-default--active {
  background-color: #a2eb67;
}
.modal-window-container {
  width: 630px;
  background: url(../img/task_description_background.jpg);
  margin: 184px auto 0;
  border: 15px solid rgba(253, 113, 0, 0.32);
  padding: 15px;
  position: relative;
  z-index: 20;
}
.modal-window-title {
  font-family: Verdana;
  font-size: 60px;
  color: #fd7100;
  margin: 32px 0 36px;
  text-align: center;
  text-transform: uppercase;
}
.modal-window-text {
  color: #fd7100;
  font-family: Verdana;
  font-size: 24px;
  max-height: 400px;
  text-align: justify;
}
.container-scroll-y {
  overflow-y: scroll;
  padding-right: 10px;
}
@media screen and (max-width: 1500px) {
  .modal-window-container {
    width: 420px;
  }
  .modal-window-text {
    max-height: 200px;
    font-size: 16px;
  }
}
.table-default {
  margin: 0 auto;
  width: 100%;
  border-spacing: 0;
}
.table-default td {
  padding-right: 5px;
}
.table-default td:first-child {
  padding-right: 5px;
}
.table-default__title {
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border: 1px solid black;
  border-bottom: none;
  height: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 47px;
  padding: 5px;
  box-sizing: border-box;
}
.table-default__cell--no-border {
  border: none;
}
.table-default__cell-block {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
.table-default__cell-block--transparent {
  background: none !important;
}
.table-default__cell-block--no-border {
  border: none !important;
}
tr:nth-child(2) .table-default {
  background-color: grey;
}
tr:nth-child(2) .table-default__cell-block {
  border-top: 1px solid black;
}
.table-default__last-cell-block {
  width: 100%;
  background-color: #ffffff;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 1px solid black;
  border-top: none;
  height: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 47px;
  padding: 5px;
  box-sizing: border-box;
}
.popup-default {
  position: fixed;
  width: 100%;
  height: 100%;
}
.popup-default--container {
  position: fixed;
  width: 660px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  padding: 35px 20px 40px;
  box-sizing: border-box;
  z-index: 50;
}
.popup-default__background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}
.popup-default__close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup-default__close-button:hover {
  cursor: pointer;
}
.popup-default__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.popup-default__buttons-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-default__button {
  height: auto;
  display: inline-block;
  font-size: 16px;
  background-color: #8ecdf6;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
}
.popup-default__button:hover {
  cursor: pointer;
  background-color: #7fb9de;
}
.popup-default__main-text {
  display: inline-block;
}
.popup-default--description.popup-default {
  background-color: transparent;
}
.popup-default--description .popup-default--container {
  width: 730px;
  top: 166px;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  height: calc(100vh - 220px);
  overflow-y: scroll;
}
.background__s-img {
  position: fixed;
  z-index: 1;
  opacity: 0.06;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-66%, -40%);
      transform: translate(-66%, -40%);
}
@media screen and (max-width: 1500px) {
  .background__s-img {
    width: 50%;
    height: 50%;
    -ms-transform: translate(-66%, -40%);
        transform: translate(-66%, -40%);
  }
}
.authorization__title {
  font-size: 24px;
  font-family: Verdana;
  text-align: center;
  color: #39291e;
  margin: 0 auto 70px;
  letter-spacing: 0.03em;
  padding-top: 40px;
}
.authorization__input-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 466px;
  margin: 0 auto 28px;
  -ms-flex-align: center;
      align-items: center;
}
.authorization__input-title {
  font-size: 18px;
  font-family: Verdana;
}
.authorization__login-button {
  display: block;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 44px;
  margin: 50px auto 0;
}
.authorization__login-button:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.authorization__help-links-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 30px auto 0;
  width: 466px;
}
.authorization__forgot-password {
  font-size: 18px;
  color: #000;
}
.authorization__registration-link {
  font-size: 20px;
  text-decoration: underline;
}
.authorization__input-text,
.authorization__input-select {
  width: 300px;
  border: 1px solid black;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
}
.authorization__star {
  display: none;
}
.authorization__input {
  height: 108px;
  width: 275px;
  padding: 20px 28px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 10px solid rgba(253, 113, 0, 0.32);
  background-color: transparent;
  color: rgba(253, 113, 0, 0.32);
  font-size: 52px;
  transition: 0.3s all;
}
.authorization__input::-webkit-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.authorization__input:-ms-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.authorization__input::-ms-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.authorization__input::placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.authorization__input:focus {
  color: #fd7100;
  border-color: #fd7100;
}
.authorization__input--warning {
  border-color: #C02D2C;
}
.authorization__steps-links {
  width: 420px;
  margin: 55px auto 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.login-page .authorization__steps-links {
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.authorization__prev-step {
  display: block;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
  width: 128px;
}
.authorization__prev-step:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.authorization__login-reg-link {
  line-height: 50px;
  padding: 0 25px;
}
.authorization__next-step,
.authorization__login {
  display: block;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
  height: 42px;
  width: 128px;
}
.authorization__next-step:hover,
.authorization__login:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.authorization__next-step--registration {
  width: 250px;
}
.authorization__login {
  margin: 0 auto;
}
.authorization-container {
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1500px) {
  .authorization__input {
    border-width: 6px;
    font-size: 40px;
  }
  .authorization__login {
    border-width: 6px;
  }
}
.scoreboard {
  background-color: rgba(106, 192, 243, 0.5);
  border-radius: 10px;
  border: 1px solid #3f3f3f;
  padding: 8px 26px;
}
.scoreboard__table-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px;
}
.scoreboard__table-container tr,
.scoreboard__table-container td {
  padding: 0;
}
.scoreboard__table-container tr {
  border-bottom: 1px solid black;
}
.scoreboard__table-container tr:last-child {
  border-bottom: 0;
}
.scoreboard__table-cell {
  min-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
.scoreboard__table-cell--result {
  border-left: 1px solid black;
}
.scoreboard__table-cell--border-right {
  border-right: 1px solid black;
}
.header {
  height: 68px;
  width: 100%;
  max-width: 1366px;
  position: fixed;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  z-index: 99;
  background-color: #8fb0c3;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header__element {
  max-width: 185px;
  width: 100%;
  border-right: 1px solid black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 18px;
  font-family: Verdana;
  color: black;
  text-decoration: none;
  transition: background 0.2s;
}
.header__element:hover {
  background: #7ca3b9;
}
.header__element:last-child {
  border-right: none;
}
.header__element--logo {
  width: 335px;
  background-color: #56849f;
  font-size: 40px;
  max-width: none;
  padding: 0 35px;
  color: white;
}
.header__element--logo:hover {
  background-color: #56849f;
}
.header__element--login {
  display: block;
  padding-right: 17px;
  margin-right: 10px;
  background: url(../img/icons/login.png) no-repeat;
  background-position: right;
  background-size: 17px 18px;
}
.header__element--login-reg {
  max-width: none;
}
.header__element--account {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-left: 15px;
  min-width: none;
  max-width: none;
  position: relative;
  box-sizing: border-box;
}
.header__element--account:after {
  content: "";
  display: block;
  height: 7px;
  width: 15px;
  background: url(../img/arrow.png);
  background-size: contain;
  position: absolute;
  right: 20px;
  -ms-flex-pack: left;
      justify-content: left;
  padding-left: 15px;
  box-sizing: border-box;
}
.header__element--account:hover {
  cursor: pointer;
}
.header__link {
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-decoration: none;
  width: 225px;
  height: 82px;
  font-size: 35px;
  text-align: center;
  padding-top: 7px;
  margin: 18px 0px 0 45px;
  display: block;
  position: relative;
}
.header__link:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link--about:after,
.header__link--score:after,
.header__link--tasks:after {
  font-size: 20px;
  display: block;
  position: absolute;
  top: 9px;
}
.header__link--about:after {
  content: "t";
  right: 38px;
}
.header__link--score:after {
  content: "e";
  right: 38px;
}
.header__link--tasks:after {
  content: "s";
  right: 44px;
}
.header__link--logout {
  width: 224px;
}
.header__account-info-container {
  position: absolute;
  width: 100%;
  border: 1px solid black;
  top: 67px;
  left: -1px;
  padding-bottom: 1px;
}
.header__account-info-team {
  background-color: #fff;
  padding: 14px 20px;
  box-sizing: border-box;
}
.header__account-info-row {
  display: block;
  padding: 14px 20px;
  background-color: #e9eff3;
  box-sizing: border-box;
  border-top: 1px solid black;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1500px) {
  .header__title {
    font-size: 40px;
    padding-top: 14px;
  }
  .header__link {
    font-size: 22px;
    border: 4px solid rgba(253, 113, 0, 0.32);
    width: 120px;
    height: 40px;
    padding-top: 1px;
  }
  .header__link--about:after,
  .header__link--score:after,
  .header__link--tasks:after {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 4px;
  }
  .header__link--about:after {
    right: 18px;
  }
  .header__link--score:after {
    right: 18px;
  }
  .header__link--tasks:after {
    right: 20px;
  }
}
.competition {
  padding: 133px 40px;
  box-sizing: border-box;
}
.competition__category-container {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}
.competition__category {
  border-radius: 7px;
  border: 1px solid black;
  background: #56849f;
  font-size: 18px;
  height: 38px;
  display: inline-block;
  width: auto;
  padding: 0 20px;
  margin-right: 15px;
  color: #fff;
  line-height: 35px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s;
}
.competition__category:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.competition__category:last-child {
  margin-right: 0;
}
.competition__category--active {
  background: #274d63;
}
.competition__head-menu {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 67px;
  background: #56849f;
  z-index: 97;
  width: 100%;
  left: 0;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.competition__head-menu-element {
  max-width: 185px;
  width: 100%;
  border-right: 1px solid black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 18px;
  font-family: Verdana;
  color: black;
  text-decoration: none;
  transition: background 0.2s;
}
.competition__head-menu-element:hover {
  background: #7b9fb3;
}
.competition__head-menu-element:first-child {
  width: 335px;
  max-width: none;
  padding: 0 35px;
  color: white;
}
.competition__head-menu-element:first-child:hover {
  background: none;
}
.competition__head-menu-element:last-child {
  border-right: none;
  width: auto;
  max-width: none;
  padding: 0 40px;
}
.competition__tasks-list-container {
  min-width: 1100px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #7f7f7f;
  background: rgba(106, 192, 243, 0.5);
  min-height: 200px;
  padding: 10px 15px;
}
.competition__one-task {
  border-radius: 7px;
  padding: 15px 20px;
  background-color: #ffffff;
  border: 1px solid black;
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
}
.competition__one-task--done {
  background-color: #a4ea75;
}
.competition__task-name {
  margin-right: 30px;
  width: 200px;
}
.competition__task-flag-input {
  max-width: 600px;
  width: 100%;
  margin-right: 20px;
}
.competition__task-flag-input input {
  height: 48px;
  border: 1px solid black;
  width: 100%;
  font-size: 18px;
  display: block;
  padding: 7px 14px;
  box-sizing: border-box;
}
.competition__task-flag-input-done {
  width: 100%;
  height: 48px;
  background-color: #dff8cf;
  border: 1px solid black;
  text-align: center;
  line-height: 47px;
  font-size: 18px;
}
.competition__tasks-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 30px;
  width: 100%;
}
.competition__task-submit-button {
  border-radius: 7px;
  border: 1px solid black;
  background: #56849f;
  font-size: 18px;
  display: inline-block;
  width: auto;
  padding: 0 20px;
  height: 38px;
  margin-right: 15px;
  color: #fff;
  line-height: 35px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s;
}
.competition__task-submit-button:hover {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.competition__task-submit-button--false {
  color: #d02f2f;
}
.competition__form-container {
  width: 100%;
}
.task-description {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.task-description__title {
  font-family: Verdana;
  font-size: 60px;
  color: #fd7100;
  margin: 32px 0 36px;
  text-align: center;
  text-transform: uppercase;
}
.task-description__description {
  color: #fd7100;
  font-family: Verdana;
  font-size: 24px;
  max-height: 400px;
  text-align: justify;
  margin-bottom: 30px;
}
.task-description__link {
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: #56849f;
  font-size: 20px;
  line-height: 37px;
  font-family: Verdana;
  text-decoration: none;
  display: block;
  border: 8px solid rgba(253, 113, 0, 0.32);
  width: 225px;
  height: 82px;
  font-family: gautami;
  font-size: 32px;
  font-weight: bold;
  color: rgba(253, 113, 0, 0.32);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.task-description__link:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}
.task-description__flag {
  height: 76px;
  width: 500px;
  padding: 11px 28px;
  box-sizing: border-box;
  border: 8px solid rgba(253, 113, 0, 0.32);
  background-color: transparent;
  color: rgba(253, 113, 0, 0.32);
  font-size: 42px;
  transition: 0.3s all;
}
.task-description__flag:focus {
  color: #fd7100;
  border-color: #fd7100;
}
.task-description__flag::-webkit-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.task-description__flag:-ms-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.task-description__flag::-ms-input-placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.task-description__flag::placeholder {
  color: rgba(253, 113, 0, 0.32);
}
.task-description__enter {
  width: 76px;
  height: 76px;
  border: 8px solid #fd7100;
  box-sizing: border-box;
  background-color: transparent;
  background: url(../img/enter.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.32;
  transition: 0.3 all;
}
.task-description__enter:hover {
  cursor: pointer;
  opacity: 1;
}
.task-description__close {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 20px;
  right: 20px;
  color: rgba(253, 113, 0, 0.32);
  transition: 0.3s color;
}
.task-description__close:hover {
  color: #fd7100;
  cursor: pointer;
}
@media screen and (max-width: 1500px) {
  .task-description__title {
    font-size: 40px;
    margin: 10px 0 20px;
  }
  .task-description__description {
    max-height: 200px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .task-description__description:last-child {
    margin-bottom: 100px;
  }
  .task-description__link {
    height: 50px;
    border: 5px solid rgba(253, 113, 0, 0.32);
    font-size: 26px;
  }
  .task-description__enter {
    width: 50px;
    height: 50px;
    border: 5px solid #fd7100;
  }
  .task-description__close {
    font-size: 18px;
    top: 5px;
    right: 10px;
  }
  .task-description__flag {
    width: 350px;
    height: 50px;
    border: 5px solid rgba(253, 113, 0, 0.32);
    font-size: 26px;
    padding: 0px 28px;
  }
  .task-description .task-description-container {
    width: 420px;
    margin-top: 124px;
    border: 8px solid rgba(253, 113, 0, 0.32);
  }
}
.task-description-container {
  width: 630px;
  background: url(../img/task_description_background.jpg);
  margin: 184px auto 0;
  border: 15px solid rgba(253, 113, 0, 0.32);
  padding: 15px;
  position: relative;
  z-index: 20;
}
.task-description-send-container {
  position: relative;
  bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 20px;
}
.legend {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: auto 100%;
  z-index: -1;
  position: fixed;
  opacity: 0.5;
}
.legend__s-img {
  position: fixed;
  z-index: 1;
  opacity: 0.06;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-66%, -40%);
      transform: translate(-66%, -40%);
}
@media screen and (max-width: 1500px) {
  .legend__s-img {
    width: 50%;
    height: 50%;
    -ms-transform: translate(-66%, -40%);
        transform: translate(-66%, -40%);
  }
}
.legend__title {
  font-family: Verdana;
  font-size: 60px;
  color: #fd7100;
  margin: 32px 0 36px;
  text-align: center;
  text-transform: uppercase;
}
.legend__text {
  color: #fd7100;
  font-family: Verdana;
  font-size: 24px;
  max-height: 400px;
  text-align: justify;
  margin-bottom: 32px;
}
@media screen and (max-width: 1500px) {
  .legend__title {
    font-size: 40px;
    margin: 0 0 20px;
  }
  .legend__text {
    max-height: 300px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .legend .legend-container {
    width: 420px;
    margin-top: 0;
    border: 8px solid rgba(253, 113, 0, 0.32);
  }
}
.legend-container {
  width: 630px;
  background: url(../img/task_description_background.jpg);
  margin: 184px auto 0;
  border: 15px solid rgba(253, 113, 0, 0.32);
  padding: 15px;
  position: relative;
  z-index: 20;
  margin-top: 50px;
}
.competitions {
  padding-top: 133px;
}
.competitions-container {
  max-width: 1160px;
  width: 100%;
  padding: 11px;
  border-radius: 15px;
  background-color: rgba(106, 192, 243, 0.5);
  border: 1px solid #7f7f7f;
  margin: 0 auto;
}
.competitions__check-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 38px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 14px;
  background-color: white;
}
.competitions__check-box-and-title-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 18px;
}
.competitions__table {
  margin: 0 auto;
  width: 100%;
  border-spacing: 0;
  font-size: 12px;
}
.competitions__table td {
  padding: 0 5px 0 0;
}
.competitions__table td:last-child {
  padding-right: 0;
}
.competitions__table-title {
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border: 1px solid black;
  border-bottom: none;
  height: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 47px;
  padding: 5px;
  box-sizing: border-box;
}
.competitions__table-cell-block {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
.competitions__table-cell-block--transparent {
  background: none;
}
.competitions__button {
  display: inline-block;
  height: 34px;
  width: auto;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  line-height: 33px;
  box-sizing: border-box;
  padding: 0 10px;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.competitions__button:hover {
  cursor: pointer;
}
.competitions__button--no-active {
  background-color: #c4c4c4;
}
.competitions__button--no-active:hover {
  cursor: default;
}
.competitions__button--active {
  background-color: #a2eb67;
}
.competitions__button:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -ms-transform: translateY(-1px);
      transform: translateY(-1px);
}
.competitions__button--no-active {
  box-shadow: none;
}
.competitions__button--no-active:hover {
  box-shadow: none;
  -ms-transform: none;
      transform: none;
}
tr:nth-child(2) .competitions {
  background-color: grey;
}
tr:nth-child(2) .competitions__table-cell-block {
  border-top: 1px solid black;
}
.personal-page {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: auto 100%;
  z-index: -1;
  position: fixed;
  opacity: 0.5;
}
.personal-page__s-img {
  position: fixed;
  z-index: 1;
  opacity: 0.06;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-66%, -40%);
      transform: translate(-66%, -40%);
}
@media screen and (max-width: 1500px) {
  .personal-page__s-img {
    width: 50%;
    height: 50%;
    -ms-transform: translate(-66%, -40%);
        transform: translate(-66%, -40%);
  }
}
.personal-page__content-container {
  max-width: 1366px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 auto;
  padding-top: 133px;
}
.personal-page__head-info-container {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.personal-page__avatar {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 20px;
}
.personal-page__info-container {
  max-width: 730px;
  min-width: 500px;
  max-height: 900px;
  padding-right: 6px;
}
.personal-page__info-row {
  display: -ms-flexbox;
  display: flex;
}
.personal-page__info-row-title {
  max-width: 120px;
  width: 100%;
  margin-right: 10px;
}
.personal-page__info-block {
  display: inline-block;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 15px 20px 40px 20px;
  border-radius: 9px;
  border: 1px solid #333333;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.index-page {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: auto 100%;
  z-index: -1;
  position: fixed;
  opacity: 0.5;
  display: -ms-flexbox;
  display: flex;
}
.index-page__s-img {
  position: fixed;
  z-index: 1;
  opacity: 0.06;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-66%, -40%);
      transform: translate(-66%, -40%);
}
@media screen and (max-width: 1500px) {
  .index-page__s-img {
    width: 50%;
    height: 50%;
    -ms-transform: translate(-66%, -40%);
        transform: translate(-66%, -40%);
  }
}
.index-page__content-container {
  margin: 0 auto;
  max-width: 1300px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 133px;
}
.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news-container {
  max-width: 730px;
  min-width: 500px;
  max-height: 900px;
  overflow-y: scroll;
  padding-right: 6px;
}
.news__one-news,
.news__comment-block-container {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 15px 20px 40px 20px;
  border-radius: 9px;
  border: 1px solid #333333;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.news__comment-link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 20px;
  background: url(../img/icons/comment.png) no-repeat left;
  background-size: contain;
  text-align: left;
  padding: 0 0 7px 31px;
  font-size: 18px;
}
.news__comment-link:hover {
  cursor: pointer;
}
.news__my-comment-container,
.news__comment-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.news__my-comment-container {
  position: relative;
  padding-bottom: 50px;
}
.news__comment-container {
  margin-top: 24px;
}
.news__comment-avatar {
  width: 58px;
  height: 58px;
}
.news__comment-login {
  text-decoration: underline;
}
.news__comment-field,
.news__comment-text {
  max-width: 550px;
  width: 100%;
}
.news__comment-submut-button {
  display: inline-block;
  height: 34px;
  width: auto;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  line-height: 33px;
  box-sizing: border-box;
  padding: 0 10px;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.news__comment-submut-button:hover {
  cursor: pointer;
}
.news__comment-submut-button--no-active {
  background-color: #c4c4c4;
}
.news__comment-submut-button--no-active:hover {
  cursor: default;
}
.news__comment-submut-button--active {
  background-color: #a2eb67;
}
.soon-competition--container {
  max-width: 540px;
  width: 100%;
  background-color: rgba(106, 192, 243, 0.5);
  display: inline-block;
  border-radius: 9px;
  border: 1px solid #5a666e;
  padding: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
.soon-competition--container table tr {
  font-size: 14px;
}
.soon-competition--container table tr:first-child {
  font-size: 18px;
}
.soon-competition__title {
  text-align: center;
  margin-bottom: 15px;
}
.soon-competition__button {
  display: inline-block;
  height: 34px;
  width: auto;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  line-height: 33px;
  box-sizing: border-box;
  padding: 0 10px;
  color: black;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
}
.soon-competition__button:hover {
  cursor: pointer;
}
.soon-competition__button--no-active {
  background-color: #c4c4c4;
}
.soon-competition__button--no-active:hover {
  cursor: default;
}
.soon-competition__button--active {
  background-color: #a2eb67;
}
.soon-competition__button:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -ms-transform: translateY(-1px);
      transform: translateY(-1px);
}
@font-face {
  font-family: minionpro-regular;
  src: local("minionpro-regular"), url(../fonts/minionpro-regular.otf);
}
@font-face {
  font-family: gautami;
  src: local("gautami"), url(../fonts/gautami.ttf);
}
body {
  font-family: Verdana;
  margin: 0;
}
td {
  padding: 0;
}
.disabled-block {
  display: none !important;
}
