

<div class="personal-page__content-container">

    <div class="personal-page__info-container">

        <div class="personal-page__head-info-container">
            <img class="personal-page__avatar" src="img/avatar.png">
            <div>
                <div class="personal-page__login" id="login">Piggy</div>
                <div class="personal-page__team" id="team">"Команда свиней"</div>
                <div class="personal-page__rating" id="rating">Рейтинг - 100</div>
            </div>
        </div>

        <div class="personal-page__info-block">
            <div class="personal-page__info-row">
                <div class="personal-page__info-row-title"> Ф.И.О.</div>
                <div class="personal-page__info-data">Толстова Свинья Хрюндовна</div>
            </div>

            <div class="personal-page__info-row">
                <div class="personal-page__info-row-title">Пол</div>
                <div class="personal-page__info-data">Трансгендер</div>
            </div>

            <div class="personal-page__info-row">
                <div class="personal-page__info-row-title">Место учебы</div>
                <div class="personal-page__info-data">ШАРага</div>
            </div>
        </div>



    </div>

    <div>
        <div class="soon-competition--container">
            <div class="soon-competition__title">Сводка по соревнованиям</div>

            <div class="table-container" style="width: 500px">
                <table class="table-default">
                    <tr>
                        <td>
                            <div class="table-default__title">Название</div>
                        </td>
                        <td>
                            <div class="table-default__title">Начало</div>
                        </td>
                        <td>
                            <div class="table-default__title">Результаты</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__cell-block">
                                <div>Соревнования 1</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block">
                                <div>15.15.2015 14:30</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__cell-block">
                                <div>Соревнования 2</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block">
                                <div>15.15.2015 14:30</div>
                            </div>
                        </td>
                        <td class="">
                            <div class="table-default__cell-block">
                                <div>1 место</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__last-cell-block">
                            </div>
                        </td>
                        <td>
                            <div class="table-default__last-cell-block">
                            </div>
                        </td>
                        <td>
                            <div class="table-default__last-cell-block"></div>
                        </td>
                    </tr>


                </table>
            </div>

        </div>
    </div>
</div>

<SCRIPT type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="/js/jquery.cookie.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="/js/json-action.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="/js/cookie.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="/js/personal-page.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="/js/main.js"></SCRIPT>