<div class="popup-default" id="select-registration-type-popup" style="display: none">
    <div class="popup-default--container">
        <div class="popup-default__close-button" onclick="closePopup('select-participation-popup-type');">X</div>

        <div class="popup-default__title">
            Пожалуйста, выберите
        </div>

        <div class="popup-default__buttons-container">
            <div class="popup-default__button" onclick="regForCompetition(true);">Участвовать официально</div>
            <div class="popup-default__button" onclick="regForCompetition(false);">Участвовать вне конкурса</div>
        </div>
    </div>

    <div class="popup-default__background" onclick="closePopup('select-participation-popup-type');"></div>
</div>

<div class="competitions">
    <div class="competitions-container">


        <div class="competitions__check-container">
            <div class="competitions__check-box-and-title-container">
                <input type="checkbox">
                <Span>Отобразить открытые соревнования</Span>
            </div>

            <div class="competitions__check-box-and-title-container">
                <input type="checkbox">
                <Span>Отобразить закрытые соревнования</Span>
            </div>
        </div>


        <div class="competitions__check-container">
            <div class="competitions__check-box-and-title-container">
                <input type="checkbox">
                <Span>Показать прошедшие соревнования</Span>
            </div>

            <div class="competitions__check-box-and-title-container">
                <input type="checkbox">
                <Span>показать текущие соревнования</Span>
            </div>

            <div class="competitions__check-box-and-title-container">
                <input type="checkbox">
                <Span>Показать предстоящие соревнования</Span>
            </div>
        </div>

        <div class="competitions__table-container ">
            <table class="competitions__table">
                <tbody id="competitions-table">
                <tr>
                    <td>
                        <div class="competitions__table-title">Название</div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Авторы</div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Начало</div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Конец</div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Длит.</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Результаты</div>
                    </td>
                    <td>
                        <div class="competitions__table-title">Кол-во участников</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<SCRIPT async type="text/javascript" src="/js/competitions-list.js"></SCRIPT>