<div class="index-page__content-container">
    <div class="news-container">
        <div class="news__one-news">
            <div class="news__one-news-text">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>

            <div class="news__comment-link">34</div>
        </div>

        <div class="news__one-news">
            <div class="news__one-news-text">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>

            <div class="news__comment-link">0</div>
        </div>

        <div class="news__one-news">
            <div class="news__one-news-text">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>

            <div class="news__comment-link">444</div>
        </div>


        <div class="news__comment-block-container">

            <div class="news__my-comment-container">
                <div class="news__my-comment-user-container">
                    <img class="news__comment-avatar" src="img/avatar.png">
                    <div class="news__comment-login">Piggy</div>
                </div>

                <textarea name="text" class="news__comment-field" placeholder="Ваш комментарий">
                    </textarea>

                <button class="news__comment-submut-button" type="submit">Отправить</button>
            </div>


            <div class="news__comment-container">
                <div class="news__comment-user-container">
                    <img class="news__my-comment-avatar" src="img/avatar.png">
                    <div class="news__comment-login"></div>
                </div>

                <div class="news__comment-text">
                    Самый лучший комментарий
                </div>
            </div>

            <div class="news__comment-container">
                <div class="news__comment-user-container">
                    <img class="news__my-comment-avatar" src="img/avatar.png">
                    <div class="news__comment-login">Donald</div>
                </div>

                <div class="news__comment-text">
                    Самый лучший комментарий
                </div>
            </div>

        </div>


        <div class="news__one-news">
            <div class="news__one-news-text">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>

            <div class="news__comment-link">34</div>
        </div>
    </div>


    <div>

        <div class="soon-competition--container">
            <div class="soon-competition__title">Ближайшие соревнования</div>
            <!--

                        <div class="soon-competition__name-container">
                            <div class="soon-competition__name">
                                Какие-то соревнования...
                            </div>

                            <div class="soon-competition__name">
                                Какие-то соревнования...
                            </div>

                            <div class="soon-competition__name">
                                Какие-то соревнования...
                            </div>
                        </div>

                        <div class="soon-competition__start-time-container">
                            <div class="soon-competition__start-time">
                                12.05.18 19:30
                            </div>

                            <div class="soon-competition__start-time">
                                12.05.18 19:30
                            </div>

                            <div class="soon-competition__start-time">
                                12.05.18 19:30
                            </div>
                        </div>
            -->
            <div class="table-container" style="width: 500px">
                <table class="table-default">
                    <tr>
                        <td>
                            <div class="table-default__title">Название</div>
                        </td>
                        <td>
                            <div class="table-default__title">Начало</div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__cell-block">
                                <div>Соревнования 1</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block">
                                <div>15.15.2015 14:30</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block table-default__cell-block--transparent table-default__cell-block--no-border">
                                <div class="soon-competition__button">Принять участие</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__cell-block">
                                <div>Соревнования 2</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-default__cell-block">
                                <div>15.15.2015 14:30</div>
                            </div>
                        </td>
                        <td class="">
                            <div class="table-default__cell-block table-default__cell-block--transparent table-default__cell-block--no-border">
                                <div class="soon-competition__button">Принять участие</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="table-default__last-cell-block">
                            </div>
                        </td>
                        <td>
                            <div class="table-default__last-cell-block">
                            </div>
                        </td>
                        <td>
                            <div class=""></div>
                        </td>
                    </tr>


                </table>
            </div>

        </div>

    </div>
</div>


<SCRIPT type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="js/jquery.cookie.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="js/json-action.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="js/main.js"></SCRIPT>
<SCRIPT defer type="text/javascript" src="js/login.js"></SCRIPT>
