<div class="authorization">
    <div class="authorization-container">

        <div class="authorization__title">Войти в LifeGameService</div>

        <form class="form__window1" action="javascript:authorisationSubmit();">
            <div class="authorization__input-container">
                <div class="authorization__input-title">Логин&nbsp&nbsp</div>
                <div class="authorization__input-field-wrapper">
                    <input class="authorization__input-text"
                           type="text" name="login"
                           placeholder="Login"
                           id="login-field">
                </div>
            </div>

            <div class="authorization__input-container">
                <div class="authorization__input-title">Пароль</div>
                <div class="authorization__input-field-wrapper">
                    <input class="authorization__input-text"
                           type="password" name="passw"
                           placeholder="Password"
                           id="pass-field">
                </div>
            </div>

            <button type="submit" class="authorization__login-button" value="Sign in" id="login">Войти</button>


            <div class="authorization__help-links-container">
               
            </div>

        </form>
    </div>
</div>


<SCRIPT defer type="text/javascript" src="/js/login.js"></SCRIPT>