<div class="authorization">
    <div class="authorization-container">

        <div class="authorization__title">Стать участником LifeGameService</div>
        <form>
            <div  class="step" style="display: none;">

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Логин <span class="authorization__star">*</span>
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="text" name="login"
                               placeholder="Введите логин"
                               id="login">
                    </div>
                </div>

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        E-mail <span class="authorization__star">*</span>
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="text" name="email"
                               placeholder="Введите e-mail"
                               id="email">
                    </div>
                </div>

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Пароль <span class="authorization__star">*</span>
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="password" name="passw"
                               placeholder="Введите пароль"
                               id="pass">
                    </div>
                </div>

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Повторите пароль <span class="authorization__star">*</span>
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="password" name="pass-check"
                               placeholder="Повторите пароль"
                               id="pass-check">
                    </div>
                </div>


            </div>


            <div class="step" style="display: none;">
                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        ФИО
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="text" name="name"
                               placeholder="Введите имя"
                               id="name">
                    </div>
                </div>

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Город
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="text" name="city"
                               placeholder="Введите город проживания"
                               id="city">
                    </div>
                </div>

                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Учебное заведение
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <input class="authorization__input-text"
                               type="text" name="educational"
                               placeholder="Введите ваше учебное заведение"
                               id="educational">
                    </div>
                </div>


                <div class="authorization__input-container">
                    <div class="authorization__input-title">
                        Пол
                    </div>

                    <div class="authorization__input-field-wrapper">
                        <select id="gender" class="authorization__input-select">
                            <option>Не выбрано</option>
                            <option>Мужской</option>
                            <option>Женский</option>
                        </select>
                    </div>
                </div>



            </div>

            <div class="authorization__steps-links">
                <a href="#" class="authorization__prev-step">Назад</a>
                <a href="#" class="authorization__next-step">Далее</a>
                <input type="button" class="authorization__next-step authorization__next-step--registration" style="display: none;" id="reg-btn" value="Зарегистрироваться">
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="js/autorization-steps.js"></script>
<script type="text/javascript" src="js/registration.js"></script>
