@import "mixin";
@import "table-default";
@import "popup-default";
@import "background";
@import "authorization";
@import "scoreboard";
@import "header";
@import "tasks";
@import "task-description";
@import "legend";
@import "competitions";
@import "personal-page";
@import "index-page";
@import "news";
@import "soon-competition";

@font-face {
  font-family: minionpro-regular;
  src: local("minionpro-regular"),
  url(../fonts/minionpro-regular.otf);
}

@font-face {
  font-family: gautami;
  src: local("gautami"),
  url(../fonts/gautami.ttf);
}

body {
  font-family: @main-font;
  margin:0;
}

.disabled-block {
  display: none !important;
}