@import "mixin";

.scoreboard {
  background-color: rgba(106, 192, 243, 0.5);
  border-radius: 10px;
  border: 1px solid #3f3f3f;
  padding: 8px 26px;

  &__table-container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px;

    tr, td {
      padding: 0;
    }

    tr {
      border-bottom: 1px solid black;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__table-cell {
    min-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;

    &--result {
      border-left: 1px solid black;
    }

    &--border-right {
      border-right: 1px solid black;
    }
  }
}