@import "mixin";

.scoreboard {
  .default-content-container;

  &--container {
    //max-width: 600px;
    width: 100%;
    margin-right: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__table-container {
    .default-table-container;

    tr, td {
      padding: 0;
    }

    td {
      &:last-child {
        width: 200px;
      }
    }

    tr {
      border-bottom: 1px solid black;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__table-cell {
    min-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;

    &--result {
      border-left: 1px solid black;
    }

    &--border-right {
      border-right: 1px solid black;
    }
  }
}