<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
 <form action="" method=post enctype=multipart/form-data>
 <h1>Create Task</h1>
    {{form.hidden_tag()}}
    <p>
        <h3>Please enter Name:</h3><br>
        {{form.Name(size=40)}}<br>

        {% for error in form.errors.Name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        <h3>Please enter Text:</h3><br>
        {{form.Text(size=100)}}<br>
        {% for error in form.errors.Text %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
     <p><input type=file name=file>
         <input type=submit value=Create>
</form>
</div>
{% endblock %}