<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="main">
<form action="" method="post" name="login">
 <h1>Registration</h1>
    {{form.hidden_tag()}}
    <p>
        <h3>Please enter your Login:</h3><br>
        {{form.Login(size=40)}}<br>

        {% for error in form.errors.Login %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>


        <h3>Please enter your Email:</h3><br>
        {{form.Email(size=40)}}<br>


        <h3>Please enter your Password:</h3><br>
        {{form.Password(size=40)}}<br>
        {% for error in form.errors.Password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>


    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
</div>
{% endblock %}